
{% extends 'main/sample.html' %}
{% block title %}Факультеты{% endblock %}


{% block content%}

<div class="faculty">
    {% for dict in entrants_on_faculty %}
      {% for key, value in dict.items %}
    <div class="block">
       <b>Факультет {{ key }} :</b> <br>
       {% for name in value %}
        <p > {{ name }} <a href="{% url 'get_certificate' name.id %}" class="btn btn-secondary"  style="float: right" > Справка </a></p>
       {% endfor %}
     </div>
      {% endfor %}
    {% endfor %}

    </div>

{% endblock %}